<div class="body">
  <form [formGroup]="ageForm">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" formControlName="day" placeholder="DD">
          </div>
          <div *ngIf="ageForm.get('day')?.hasError('required') && ageForm.get('day')?.touched" class="text-danger">
            Day is required
          </div>
          <div
            *ngIf="(ageForm.get('day')?.hasError('max') || ageForm.get('day')?.hasError('min'))  && ageForm.get('day')?.touched && !ageForm.get('day')?.hasError('required')" class="text-danger">
            Enter a valid day
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <input class="form-control" formControlName="month" placeholder="MM">
          </div>
          <div *ngIf="ageForm.get('month')?.hasError('required') && ageForm.get('month')?.touched" class="text-danger">
            Month is required
          </div>
          <div
            *ngIf="(ageForm.get('month')?.hasError('max') || ageForm.get('month')?.hasError('min'))  && ageForm.get('month')?.touched && !ageForm.get('month')?.hasError('required')">
            Enter a valid month
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <input class="form-control" formControlName="year" placeholder="YYYY">
          </div>
          <div *ngIf="ageForm.get('year')?.hasError('required') && ageForm.get('year')?.touched" class="text-danger">
            Year is required
          </div>
        </div>
        <div *ngIf="ageForm.hasError('futureDate')" class="text-danger">
          Date cannot be in the future
        </div>
      </div>
      <div class="container-icon">
        <hr />
        <button class="container-icon-image" type="submit" (click)="submitForm()">
          <img src="./src/assets/images/arrow-down-solid.svg" alt="arrow button" />
        </button>
      </div>
      <div class="container-time">
        <div class="container-time-item">
          <span class="container-time-item-properties">{{ ageYears }}</span> Years
        </div>
        <div class="container-time-item">
          <span class="container-time-item-properties">{{ ageMonths }}</span> months
        </div>
        <div class="container-time-item">
          <span class="container-time-item-properties">{{ ageDays }}</span> Days
        </div>
      </div>
    </div>
  </form>
</div>